.cadastro {
    padding: 30px;
    margin: 20px auto;
}

#paragrafo {
    font-weight: bold;
    font-size: 0.9rem;
}

.botao-login {
    margin-right: 20px;
}

/* deixar a caixa com rolagem para os termos e condições de uso */
.terms-box {
    height: 240px;              /* altura fixa */
    overflow-y: auto;           /* rolagem vertical */
    padding: 15px;
    border: 1px solid #227fdc;  /* padrão Bootstrap */
    border-radius: 5px;
    background: #f8f9fa;
    font-size: 0.95rem;
    line-height: 1.45;
}

